
body {
    font-family: Roboto, Arial;
    font-size: 14px;
    color: #191919;

}



.notecard{
    background-color: rgb(131, 158, 131);
    width: 450px;
    height: auto;
    border-radius: 20px;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;


    padding: 20px;

    box-sizing: border-box;
    /* top, right, bottom, left */
    /*margin: 150px auto 0px auto; */
}

.note-title {
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 10px;

}

.notecard-thumbnail {
    width: 70px;
    height: 70px;

    border-radius: 5px;
}

.btn-delete {
    width: 30px;
    height: 30px;

    margin-top: 15px;
    padding: 0;

    font-size: 14px;
    font-weight: 700;
    color: #595959;
    background-color: #212121;

    border: 2px solid #595959;
    border-radius: 5px;

    cursor: pointer;

} 

.btn-delete:hover{
    color: #dddddd;
    background-color: #393939;
    border: 2px solid #dddddd;
}